/*
  ____  _     ___   ____  _  __ ____
 | __ )| |   / _ \ / ___|| |/ // ___|
 |  _ \| |  | | | | |    | '' / \___ \
 | |_) | |__| |_| | |___ | . \  ___) |
 |____/|_____\___/ \____||_|\_\|____/

*/

/* ----- Manifest ----- */
#define RT_MANIFEST 24
1 RT_MANIFEST "blocks.manifest"

/* ----- Costanti ----- */
#define VS_FFI_FILEFLAGSMASK    0x0000003FL
#define VOS__WINDOWS32          0x00000004L
#define VFT_APP                 0x00000001L

/* ----- Versione file e prodotto ----- */
#define VER_FILEVERSION         0,5,0
#define VER_FILEVERSION_STR     "0.5.0\000\000"
#define VER_PRODUCTVERSION      0,5,0
#define VER_PRODUCTVERSION_STR  "0.5.0\000\000"

1 VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904E4"
  BEGIN
   VALUE "CompanyName",  "DelphiBlock srl\000\000"
   VALUE "FileDescription",  "Delphi packages installer \000\000"
   VALUE "FileVersion",  VER_FILEVERSION_STR
   VALUE "InternalName",  "BLOCKS\000\000"
   VALUE "LegalCopyright",  "MIT license\000\000"
   VALUE "ProductName", "Blocks\000\000"
   VALUE "ProductVersion", VER_PRODUCTVERSION_STR
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 1033, 1252
 END
END
